body {
  margin: 0;
  padding: 0;
   background-color:  color rgb(16, 114, 212);
}

.perguntas {
 

  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('blurry_background.png') center/cover no-repeat;
}

.perguntas.active {
  display: flex;
}

.questionario {
  background: linear-gradient(to right, #85C1E0, #AEDFF7, #D4F1FF);
  width: 80%;
  padding: 70px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 90px 200px 90px 200px;
}

.alternativas1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.ab, .cd {
  width: 400px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: white;
  background: linear-gradient(to right, #002C3C, #005066, #007A99);
  border-radius: 100px 90px 100px 20px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.ab:hover, .cd:hover {
  background: linear-gradient(to right, #004D66, #007A99, #0099CC);
  transform: scale(1.1);
}

.correct {
  background: green !important;
}
.incorrect {
  background: red !important;

}

.menu-button {
  display: inline-block;
  margin-top: 30px;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #004D66, #007A99, #0099CC);
  transition: background 0.3s ease;
}
.menu-button:hover {
  background: linear-gradient(to right, #006680, #0099CC, #00BFFF);
}

